
h1 {

    margin-top: 50px;
    color: rgb(71,225,12);
    font-family: 'Open Sans Condensed', sans-serif;

}

/*General format for the list items*/
li {

    list-style: none;
    border: 1px solid black;
    padding: 20px 20px;
    margin-left: -20px;
    margin-top: 15px;
    background-color: white;
    height: auto;
    width: auto;
    
}

/*General format for the delete/fav buttons*/
.deleteButton, .favButton {

    float: right;
    margin-right: 10px;
    margin-bottom: 50px;

}

/* Darker background-color on hover */
ul li:hover {
    background:lightgreen;
}

/*General bg color*/
body {

    background: url("razer_chroma_wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;

}

/*success button colors*/
.button.success {

    background-color: dimgray;
    color: lightgreen;

}



